<div class="container">
    <form
        class="forgot-password__form | text-center"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-6">
                <input
                    id="email"
                    class="form-control"
                    type="text"
                    formControlName="email"
                    placeholder="Email"
                />
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="!forgotPasswordForm.valid"
        >
            Send Request
        </button>
    </form>
</div>
