<div class="login-container | container">
  <form
    class="login-form | text-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div
      class="login-form_username | row justify-content-center align-items-center"
    >
      <div class="col-lg-4 col-6">
        <input
          id="username"
          class="form-control"
          type="text"
          formControlName="username"
          placeholder="Username or Email"
        />
      </div>
    </div>
    <div
      class="login-form_password | row justify-content-center align-items-center"
    >
      <div class="col-lg-4 col-6">
        <input
          id="password"
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
    </div>
    <button
      type="submit"
      class="form_button | btn btn-outline-success"
      [disabled]="!form.valid"
    >
      Login
    </button>
    <button type="button" class="form_button | btn btn-outline-secondary">
      Register
    </button>
  </form>
</div>
