<div class="container">
    <form
        class="change-password__form | text-center"
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit()">
        <div
            class="change-password__username | row justify-content-center align-items-center">
            <div class="col-lg-4 col-6">
                <input
                    id="username"
                    class="form-control"
                    type="text"
                    formControlName="username"
                    [readOnly]="true" />
            </div>
        </div>
        <div
            class="change-password__new-password | row justify-content-center align-items-center">
            <div class="col-lg-4 col-6">
                <input
                    id="new-password"
                    class="form-control"
                    type="password"
                    formControlName="newPassword"
                    placeholder="New Password*" />
            </div>
        </div>
        <div
            class="change-password__confirm-new-password | row justify-content-center align-items-center">
            <div class="col-lg-4 col-6">
                <input
                    id="confirm-new-password"
                    class="form-control"
                    type="password"
                    formControlName="confirmNewPassword"
                    placeholder="Confirm New Password*" />
            </div>
        </div>
        <!-- Button -->
        <button
            type="submit"
            class="form_button | btn btn-outline-success"
            [disabled]="!changePasswordForm.valid">
            Change Password
        </button>
    </form>
</div>
